<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.urho3d">

    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000"/>

    <!-- Allows applications to connect to paired bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- Allows applications to discover and pair bluetooth devices-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Allow opening network sockets -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Allow access to the vibrator -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Allow writing to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
