# Output directories
/bin/*
!/bin/**/
!/bin/*.bat
!/bin/*.sh
/bin/*.app/
/bin/*.app.dSYM/
/bin/jit/
/bin/Screenshots/
/bin/tool/
/include/
/lib*/
generated/
/Source/Urho3D/tolua++-prefix/
build/
/captures/
.cxx/

# Output files
/Source/**/*.a
/Source/ThirdParty/Assimp/revision.h
/Source/ThirdParty/Assimp/contrib/zlib/zconf.h
/Source/ThirdParty/Assimp/include/assimp/config.h
/Source/ThirdParty/LuaJIT/src/host/buildvm
/Source/ThirdParty/LuaJIT/src/host/buildvm_arch.h
/Source/ThirdParty/LuaJIT/src/host/minilua
/Source/Urho3D/Precompiled.cpp
/Source/Urho3D/Urho3D.h
/Source/Urho3D/Urho3D.pc
/Source/Urho3D/Urho3D.pc.msvc
/Source/Urho3D/Urho3DAll.h
/Source/Urho3D/librevision.h

# Compiled shaders
*.vs?
*.ps?

# Compiled AngelScript
*.asc

# Compiled Lua script
*.luc

# Generated documentation
/Docs/html/
/Docs/qch/

# Saved sample scenes
/bin/Data/Scenes/Isometric2D.xml
/bin/Data/Scenes/Platformer2D.xml

# Eclipse project settings
/.*project
/.settings

# KDevelop project settings
/*.kdev?

# Qt Creator project settings
/CMakeLists.txt.user

# JetBrains IDE project settings
/.idea/
/cmake-build-*/
*.iml

# Code::Blocks project settings
/*.cbp

# Codelite project settings
/*.project
/*.workspace

# Gradle project settings
.gradle

# Android project settings
/local.properties

# Visual Studio project settings
/.vs/
/CMakeSettings.json
/out/

# CMake generated build files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
/Source/**/*.cmake
!/Source/ThirdParty/SDL/cmake/*.cmake
!/Source/ThirdParty/SDL/include/*cmake
!/Source/ThirdParty/Assimp/cmake-modules/*cmake
/Docs/**/*.cmake

# Precompiled header files
*.gch/
*.pch/
*.pch.*

# Custom rake tasks
/.rake/
.rake_t_cache

# Misc.
configure*
*~
*.swp
.DS_Store
*.log
*.bak
Thumbs.db
.directory
