// Copyright (c) 2008-2022 the Urho3D project
// License: MIT

#include "../Precompiled.h"

namespace Urho3D
{

static void RegisterEnums(asIScriptEngine* engine)
{
   // TODO: Render the string template for enums here
}

void RegisterAngelScriptAPI(asIScriptEngine* engine)
{
    RegisterEnums(engine);
}

}
